imports:
  - { resource: vendor/openeuropa/code-review/dist/drupal-conventions.yml }
parameters:
  tasks.phpcs.ignore_patterns:
    - vendor/
    - tests/fixtures
  tasks.phpcs.triggered_by:
    - php
  tasks.git_commit_message.matchers: []

  extensions:
    - OpenEuropa\CodeReview\ExtraTasksExtension
